# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Coffee Machine (Python)/*
!/Coffee Machine (Python)/task/
/Coffee Machine (Python)/task/*
!/Coffee Machine (Python)/task/machine
